.discussion-page-container {
    font-family: 'Roboto', sans-serif;
  }
  
  .discussion-page-container h2 {
    font-family: 'Roboto', sans-serif;
  }

.title{
    color: #9158e9;
}

.creator{
    color: #9158e9;
}