.message-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.message-content {
  flex: 1;
}

.message-creator {
  font-size: 0.8em;
  color: #666;
}

.message-actions {
  display: flex;
  align-items: center;
  gap: 10px; /* Ajoute un espacement entre les boutons */
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

.message-item-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.message-item {
  width: 100%;
  max-width: 1200px; /* Limiter la largeur maximale */
  margin: 10px 0;
}

.message-item-container:nth-child(odd) .message-item {
  background-color: #F1EDFF; /* Couleur de fond pour chaque deuxième message */
  border-radius: 8px; /* Arrondir les bords */
}

.message-item {
  border-radius: 8px; /* Arrondir les bords pour tous les messages */
}

